
    <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Email form
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Subject</label>
                                            <input class="form-control">
                                            <p class="help-block">Example block-level help text here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Body</label>
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                        
                                        <button type="submit" class="btn btn-default">Submit</button>
                                        <button type="reset" class="btn btn-default">Reset</button>
                                    </form>
                                </div>
                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th data-ng-repeat="header in headerList">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" data-ng-repeat="item in apartments">
                                    <td><input type="checkbox" ng-model="item.selected"></td>
                                    <td>{{item.price}}</td>
                                    <td>{{item.title}}</td>
                                    <td><a href="{{item.link}}">{{item.link}}</a></td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
        </div>
        <div class="col-lg-6">
            
            <google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
                
               <markers models="apartmentMarkers" coords="'coords'" doRebuildAll="true" click="'onClicked'" options="'options'" events="markersEvents" isLabel='true'>
               </markers>
                
            </google-map>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    
  


